# 180205 Class

In [ ]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

# get_html 테스트

In [ ]:
def get_html(url):
    _html = ""
    resp = requests.get(url)
    if resp.status_code == 200:
        _html = resp.text
    return _html

URL = "http://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page=1"
html = get_html(URL)
soup = BeautifulSoup(html, 'html.parser')
soup

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="http://finance.naver.com/css/newstock.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/common.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/layout.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/main.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/newstock2.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/newstock3.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/world.css?20180202045421" rel="stylesheet" type="text/css"/>
</head>
<body>
<script src="http://finance.naver.com/js/lcslog.js?20180202045421" type="text/javascript"></script>
<!-- 일별시세 -->
<div class="box_type_m">
<h4 class="top_tlt" style="text-align:left;"><em>일별</em>시세</h4>
<table cellpadding="0" cellspacing="0" class="type_1" summary="일별 시세표:날짜에 따른 체결가 전일비 등락률 거래량 거래대금 정보를 제공합니다.">
<caption>일별시세</caption>
<col width="15%"/><col width="14%"/><col width="18%"/><col width="14%"/><col width="*"/><col width="18%"/>
<tr>
<th>날짜</th>
<th>체결가</th>
<th>전일비</th>
<th>등락률</th>
<th>거래량<span class="add_txt">(천주)</span></th>
<th>거래대금<span class="add_txt">(백만)</span></th>
</tr>
<tr><td class="blank_07" colspan="6"></td></tr>
<tr>
<td class="date">2018.02.05</td>
<td class="number_1">323.29</td>
<td class="rate_down" style="padding-right:35px;">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				3.72
				</span>
</td>
<td class="number_1">
<span class="tah p11 nv01">
				-1.14%
				</span>
</td>
<td class="number_1" style="padding-right:40px;">101,936</td>
<td class="number_1" style="padding-right:30px;">6,168,728</td>
</tr>
<tr>
<td class="date">2018.02.02</td>
<td class="number_1">327.01</td>
<td class="rate_down" style="padding-right:35px;">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				6.35
				</span>
</td>
<td class="number_1">
<span class="tah p11 nv01">
				-1.90%
				</span>
</td>
<td class="number_1" style="padding-right:40px;">98,722</td>
<td class="number_1" style="padding-right:30px;">6,198,553</td>
</tr>
<tr>
<td class="date">2018.02.01</td>
<td class="number_1">333.36</td>
<td class="rate_down" style="padding-right:35px;">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				0.02
				</span>
</td>
<td class="number_1">
<span class="tah p11 nv01">
				-0.01%
				</span>
</td>
<td class="number_1" style="padding-right:40px;">90,364</td>
<td class="number_1" style="padding-right:30px;">5,717,652</td>
</tr>
<tr><td class="blank_08" colspan="6"></td></tr>
<tr><td class="division_line" colspan="6"></td></tr>
<tr><td class="blank_08" colspan="6"></td></tr>
<tr>
<tr>
<td class="date">2018.01.31</td>
<td class="number_1">333.38</td>
<td class="rate_down" style="padding-right:35px;">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				0.02
				</span>
</td>
<td class="number_1">
<span class="tah p11 nv01">
				-0.01%
				</span>
</td>
<td class="number_1" style="padding-right:40px;">112,492</td>
<td class="number_1" style="padding-right:30px;">8,795,798</td>
</tr>
<tr>
<td class="date">2018.01.30</td>
<td class="number_1">333.40</td>
<td class="rate_down" style="padding-right:35px;">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				4.65
				</span>
</td>
<td class="number_1">
<span class="tah p11 nv01">
				-1.38%
				</span>
</td>
<td class="number_1" style="padding-right:40px;">107,992</td>
<td class="number_1" style="padding-right:30px;">5,818,833</td>
</tr>
<tr>
<td class="date">2018.01.29</td>
<td class="number_1">338.05</td>
<td class="rate_down" style="padding-right:35px;">
<img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2.67
				</span>
</td>
<td class="number_1">
<span class="tah p11 red01">
				+0.80%
				</span>
</td>
<td class="number_1" style="padding-right:40px;">120,240</td>
<td class="number_1" style="padding-right:30px;">5,852,413</td>
</tr>
<tr><td class="blank_09" colspan="6"></td></tr>
<tr><td class="division_line" colspan="6"></td></tr>
</tr></table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=1">1</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=2">2</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=3">3</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=4">4</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=5">5</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=6">6</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=7">7</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=8">8</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=9">9</a>
</td>
<td>
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=11">
				다음<img alt="" border="0" height="5" src="http://static.naver.net/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=499">맨뒤
				<img alt="" border="0" height="5" src="http://static.naver.net/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
</div>
<!-- //일별시세 -->
<script type="text/javascript">
	lcs_do();
</script>
</body>
</html>

# 날짜랑 주가지수 받아오기

In [ ]:
code=soup('td',{'class':'number_1'})
index_list = []
date_list = []

for page in range(10):
    URL = "http://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page={:d}".format(page)
    html = get_html(URL)
    soup=BeautifulSoup(html, 'html.parser')
    soup

    date = soup('td',{'class':'date'})
    for date_text in date:
        date_list.append(str(date_text).split('date">')[1].split("</td")[0])
    code = soup('td',{'class':'number_1'})

    for i, code_text in enumerate(code):
        try:
            if i%4 == 0:
                index_list.append(str(code_text).split('number_1">')[1].split('</td>')[0])
        except:
            print(code_text)
            continue

In [ ]:
date_list

['2018.02.05',
 '2018.02.02',
 '2018.02.01',
 '2018.01.31',
 '2018.01.30',
 '2018.01.29',
 '2018.01.26',
 '2018.01.25',
 '2018.01.24',
 '2018.01.23',
 '2018.01.22',
 '2018.01.19',
 '2018.01.18',
 '2018.01.17',
 '2018.01.16',
 '2018.01.15',
 '2018.01.12',
 '2018.01.11',
 '2018.01.10',
 '2018.01.09',
 '2018.01.08',
 '2018.01.05',
 '2018.01.04',
 '2018.01.03',
 '2018.01.02',
 '2017.12.28',
 '2017.12.27',
 '2017.12.26',
 '2017.12.22',
 '2017.12.21',
 '2017.12.20',
 '2017.12.19',
 '2017.12.18',
 '2017.12.15',
 '2017.12.14',
 '2017.12.13',
 '2017.12.12',
 '2017.12.11',
 '2017.12.08',
 '2017.12.07',
 '2017.12.06',
 '2017.12.05',
 '2017.12.04',
 '2017.12.01',
 '2017.11.30',
 '2017.11.29',
 '2017.11.28',
 '2017.11.27',
 '2017.11.24',
 '2017.11.23',
 '2017.11.22',
 '2017.11.21',
 '2017.11.20',
 '2017.11.17']

# Pandas로 출력해보기

In [ ]:
import pandas as pd
df1 = pd.DataFrame(date_list)
df2 = pd.DataFrame(index_list)
df = pd.concat([df1, df2], axis=1)
df.columns = ['Date', 'Index']
df

          Date   Index
0   2018.02.05  323.29
1   2018.02.02  327.01
2   2018.02.01  333.36
3   2018.01.31  333.38
4   2018.01.30  333.40
5   2018.01.29  338.05
6   2018.01.26  335.38
7   2018.01.25  334.08
8   2018.01.24  330.91
9   2018.01.23  330.93
10  2018.01.22  326.27
11  2018.01.19  329.52
12  2018.01.18  329.13
13  2018.01.17  329.19
14  2018.01.16  330.02
15  2018.01.15  327.39
16  2018.01.12  326.72
17  2018.01.11  325.67
18  2018.01.10  327.61
19  2018.01.09  330.25
20  2018.01.08  331.28
21  2018.01.05  328.97
22  2018.01.04  324.58
23  2018.01.03  327.13
24  2018.01.02  326.00
25  2017.12.28  324.74
26  2017.12.27  320.25
27  2017.12.26  318.89
28  2017.12.22  321.21
29  2017.12.21  319.72
30  2017.12.20  325.79
31  2017.12.19  326.76
32  2017.12.18  326.60
33  2017.12.15  326.23
34  2017.12.14  324.74
35  2017.12.13  326.18
36  2017.12.12  324.07
37  2017.12.11  325.09
38  2017.12.08  324.68
39  2017.12.07  323.59
40  2017.12.06  324.52
41  2017.12.05  329.61
42  2017.12.04  328.77
43  2017.12.01  324.78
44  2017.11.30  325.25
45  2017.11.29  330.68
46  2017.11.28  330.99
47  2017.11.27  329.53
48  2017.11.24  335.44
49  2017.11.23  334.51
50  2017.11.22  335.49
51  2017.11.21  333.51
52  2017.11.20  332.92
53  2017.11.17  334.18

# Top 200 코드와 기업 이름 받아오기

In [ ]:
URL = "http://finance.naver.com/sise/entryJongmok.nhn?&page=1"
html = get_html(URL)
soup = BeautifulSoup(html, 'html.parser')
soup

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="http://finance.naver.com/css/newstock.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/common.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/layout.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/main.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/newstock2.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/newstock3.css?20180202045421" rel="stylesheet" type="text/css"/>
<link href="http://finance.naver.com/css/world.css?20180202045421" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 편입종목 상위 -->
<div class="box_type_m">
<h4 class="top_tlt" style="text-align:left;"><em>편입종목</em>상위</h4>
<table cellpadding="0" cellspacing="0" class="type_1" style="”table-layout:fixed;”">
<col width="119"/><col width="69"/><col width="79"/><col width="67"/><col width="71"/><col width="100"/><col width="89"/>
<tr>
<th class="tl" style="padding-left:15"><a class="sort_down" href="/sise/entryJongmok.nhn?order=itemname&amp;isRightDirection=true">종목별</a></th>
<th class="tl" style="padding-left:10"><a class="sort_down" href="/sise/entryJongmok.nhn?order=now_val&amp;isRightDirection=true">현재가</a></th>
<th class="tr" style="padding-right:10"><a class="sort_down" href="/sise/entryJongmok.nhn?order=change_val&amp;isRightDirection=true">전일비</a></th>
<th class="tr" style="padding-right:10"><a class="sort_down" href="/sise/entryJongmok.nhn?order=change_rate&amp;isRightDirection=true">등락률</a></th>
<th class="ls tr" style="padding-right:8"><a class="sort_down" href="/sise/entryJongmok.nhn?order=acc_quant&amp;isRightDirection=true">거래량</a></th>
<th class="ls tr" style="padding-right:13"><a class="sort_down" href="/sise/entryJongmok.nhn?order=acc_amount&amp;isRightDirection=true">거래대금<span class="add_txt">(백만)</span></a></th>
<th class="ls tr" style="padding-right:14"><a class="sort_up" href="/sise/entryJongmok.nhn?order=market_sum&amp;isRightDirection=false">시가총액<span class="add_txt">(억)</span></a></th>
</tr>
<tr><td class="blank_07" colspan="7"></td></tr>
<tr>
<td class="ctg"><a href="/item/main.nhn?code=005930" target="_parent">삼성전자</a></td>
<td class="number_2">2,396,000</td>
<td class="rate_down2">
<img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				11,000
				</span>
</td></tr></table></div></body></html>

<td class="number_2">
<span class="tah p11 red01">
				+0.46%
				</span>
</td>

<td class="number">517,457</td>
<td class="number_2">1,216,526</td>
<td class="number_2">3,093,200</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=000660" target="_parent">SK하이닉스</a></td>
<td class="number_2">70,200</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,000
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-2.77%
				</span>
</td>

<td class="number">4,017,601</td>
<td class="number_2">282,115</td>
<td class="number_2">511,058</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=005380" target="_parent">현대차</a></td>
<td class="number_2">159,000</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				3,500
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-2.15%
				</span>
</td>

<td class="number">552,044</td>
<td class="number_2">88,907</td>
<td class="number_2">350,240</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=005490" target="_parent">POSCO</a></td>
<td class="number_2">381,500</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,000
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-0.52%
				</span>
</td>

<td class="number">206,169</td>
<td class="number_2">78,020</td>
<td class="number_2">332,618</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=035420" target="_parent">NAVER</a></td>
<td class="number_2">879,000</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				26,000
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-2.87%
				</span>
</td>

<td class="number">96,911</td>
<td class="number_2">85,985</td>
<td class="number_2">289,742</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=105560" target="_parent">KB금융</a></td>
<td class="number_2">67,700</td>
<td class="rate_down2">
<img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,300
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 red01">
				+1.96%
				</span>
</td>

<td class="number">1,327,977</td>
<td class="number_2">89,089</td>
<td class="number_2">283,062</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=207940" target="_parent">삼성바이오로직스</a></td>
<td class="number_2">426,000</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				14,000
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-3.18%
				</span>
</td>

<td class="number">240,236</td>
<td class="number_2">102,936</td>
<td class="number_2">281,863</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=051910" target="_parent">LG화학</a></td>
<td class="number_2">390,000</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				10,500
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-2.62%
				</span>
</td>

<td class="number">394,781</td>
<td class="number_2">154,050</td>
<td class="number_2">275,310</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=028260" target="_parent">삼성물산</a></td>
<td class="number_2">143,000</td>
<td class="rate_down2">
<img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				3,000
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 red01">
				+2.14%
				</span>
</td>

<td class="number">1,408,290</td>
<td class="number_2">200,875</td>
<td class="number_2">271,257</td>

<tr>
<td class="ctg"><a href="/item/main.nhn?code=032830" target="_parent">삼성생명</a></td>
<td class="number_2">128,000</td>
<td class="rate_down2">
<img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td></tr>

<td class="number_2">
<span class="tah p11 nv01">
				-0.39%
				</span>
</td>

<td class="number">346,441</td>
<td class="number_2">43,955</td>
<td class="number_2">256,000</td>

<tr><td class="blank_09" colspan="7"></td></tr>
<tr><td class="division_line" colspan="7"></td></tr>

<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/sise/entryJongmok.nhn?&amp;page=1">1</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=2">2</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=3">3</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=4">4</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=5">5</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=6">6</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=7">7</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=8">8</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=9">9</a>
</td>
<td>
<a href="/sise/entryJongmok.nhn?&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/sise/entryJongmok.nhn?&amp;page=11">
				다음<img alt="" border="0" height="5" src="http://static.naver.net/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/sise/entryJongmok.nhn?&amp;page=21">맨뒤
				<img alt="" border="0" height="5" src="http://static.naver.net/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->

<!-- //편입종목 상위 -->

In [ ]:
Code_text = soup('td', {'class':'ctg'})
Code_text

[<td class="ctg"><a href="/item/main.nhn?code=005930" target="_parent">삼성전자</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=000660" target="_parent">SK하이닉스</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=005380" target="_parent">현대차</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=005490" target="_parent">POSCO</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=035420" target="_parent">NAVER</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=105560" target="_parent">KB금융</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=207940" target="_parent">삼성바이오로직스</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=051910" target="_parent">LG화학</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=028260" target="_parent">삼성물산</a></td>,
 <td class="ctg"><a href="/item/main.nhn?code=032830" target="_parent">삼성생명</a></td>]

In [ ]:
code_list = []
name_list = []
for i in range(1,21):
    URL = "http://finance.naver.com/sise/entryJongmok.nhn?&page={:d}".format(i)
    html = get_html(URL)
    soup = BeautifulSoup(html, 'html.parser')

    Code_text = soup('td',{'class':'ctg'})

    for t in Code_text:
        codeText = str(t)
        code_list.append(codeText.split('code=')[1].split('"')[0])
        name_list.append(codeText.split('parent">')[1].split('</a')[0])

for i in range(200):
    print(i, code_list[i], name_list[i])

0 005930 삼성전자
1 000660 SK하이닉스
2 005380 현대차
3 005490 POSCO
4 035420 NAVER
5 105560 KB금융
6 207940 삼성바이오로직스
7 051910 LG화학
8 028260 삼성물산
9 032830 삼성생명
10 055550 신한지주
11 012330 현대모비스
12 015760 한국전력
13 034730 SK
14 017670 SK텔레콤
15 018260 삼성에스디에스
16 096770 SK이노베이션
17 051900 LG생활건강
18 090430 아모레퍼시픽
19 066570 LG전자
20 086790 하나금융지주
21 003550 LG
22 033780 KT&amp;G;
23 011170 롯데케미칼
24 000270 기아차
25 000810 삼성화재
26 251270 넷마블게임즈
27 010950 S-Oil
28 006400 삼성SDI
29 002790 아모레G
30 000030 우리은행
31 034220 LG디스플레이
32 035720 카카오
33 024110 기업은행
34 010130 고려아연
35 036570 엔씨소프트
36 139480 이마트
37 030200 KT
38 009540 현대중공업
39 004020 현대제철
40 009150 삼성전기
41 267250 현대로보틱스
42 018880 한온시스템
43 023530 롯데쇼핑
44 161390 한국타이어
45 006800 미래에셋대우
46 021240 코웨이
47 035250 강원랜드
48 088350 한화생명
49 078930 GS
50 008930 한미사이언스
51 032640 LG유플러스
52 128940 한미약품
53 009830 한화케미칼
54 086280 현대글로비스
55 005830 DB손해보험
56 001040 CJ
57 004990 롯데지주
58 000720 현대건설
59 271560 오리온
60 047810 한국항공우주
61 004800 효성
62 097950 CJ제일제당
63 071050 한국금융지주
64 036460 한국가스공사
65 005940 NH투자증권
66 029780 삼성카드
67 002380 KCC
68 001450 현대해상
69 009240 한샘
70 012750 에스원
71 016360 삼성증권
72 282330 BGF리테일
73 010060 OCI
74 010140 삼성중공업
75 008770 호텔신라
76 138930 BNK금융지주
77 003490 대한항공
78 000880 한화
79 004170 신세계
80 028050 삼성엔지니어링
81 012630 현대산업
82 000120 CJ대한통운
83 011780 금호석유
84 008560 메리츠종금증권
85 028670 팬오션
86 047050 포스코대우
87 007070 GS리테일
88 011070 LG이노텍
89 026960 동서
90 000210 대림산업
91 000100 유한양행
92 204320 만도
93 007310 오뚜기
94 047040 대우건설
95 006260 LS
96 006280 녹십자
97 030000 제일기획
98 069960 현대백화점
99 006360 GS건설
100 042670 두산인프라코어
101 006650 대한유화
102 000150 두산
103 010620 현대미포조선
104 003410 쌍용양회
105 120110 코오롱인더
106 069620 대웅제약
107 004000 롯데정밀화학
108 161890 한국콜마
109 000670 영풍
110 000240 한국타이어월드와이드
111 004370 농심
112 005250 녹십자홀딩스
113 051600 한전KPS
114 010120 LS산전
115 114090 GKL
116 001800 오리온홀딩스
117 003520 영진약품
118 034020 두산중공업
119 011210 현대위아
120 012450 한화테크윈
121 009420 한올바이오파마
122 020150 일진머티리얼즈
123 001740 SK네트웍스
124 000080 하이트진로
125 011790 SKC
126 079160 CJ CGV
127 005440 현대그린푸드
128 003240 태광산업
129 017800 현대엘리베이
130 115390 락앤락
131 111770 영원무역
132 057050 현대홈쇼핑
133 064350 현대로템
134 214320 이노션
135 192820 코스맥스
136 185750 종근당
137 005610 SPC삼립
138 014820 동원시스템즈
139 005300 롯데칠성
140 103140 풍산
141 002350 넥센타이어
142 079550 LIG넥스원
143 285130 SK케미칼
144 010780 아이에스동서
145 001120 LG상사
146 003300 한일시멘트
147 001230 동국제강
148 003000 부광약품
149 006840 AK홀딩스
150 001430 세아베스틸
151 073240 금호타이어
152 105630 한세실업
153 069260 휴켐스
154 000070 삼양홀딩스
155 145990 삼양사
156 049770 동원F&amp;B;
157 093050 LF
158 170900 동아에스티
159 005850 에스엘
160 093370 후성
161 001060 JW중외제약
162 052690 한전기술
163 001680 대상
164 000640 동아쏘시오홀딩스
165 108670 LG하우시스
166 003620 쌍용차
167 020000 한섬
168 014680 한솔케미칼
169 007570 일양약품
170 064960 S&amp;T;모티브
171 029530 신도리코
172 019680 대교
173 002270 롯데푸드
174 000990 DB하이텍
175 025540 한국단자
176 002240 고려제강
177 060980 한라홀딩스
178 005180 빙그레
179 003030 세아제강
180 025860 남해화학
181 079430 현대리바트
182 033920 무학
183 006120 SK디스커버리
184 096760 JW홀딩스
185 001520 동양
186 192400 쿠쿠홀딩스
187 003920 남양유업
188 009290 광동제약
189 004490 세방전지
190 002960 한국쉘석유
191 034120 SBS
192 027410 BGF
193 036580 팜스코
194 003850 보령제약
195 008060 대덕전자
196 078520 에이블씨엔씨
197 014830 유니드
198 000050 경방
199 097230 한진중공업

# 하드코딩으로 코스피200 크롤링하기

In [ ]:
URL = "http://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page={:d}".format(1)
html = get_html(URL)
soup=BeautifulSoup(html, 'html.parser')
meta_date = soup('td',{'class':'date'})
meta = soup('td',{'class':'number_1'})

In [ ]:
meta_date

[<td class="date">2018.02.05</td>,
 <td class="date">2018.02.02</td>,
 <td class="date">2018.02.01</td>,
 <td class="date">2018.01.31</td>,
 <td class="date">2018.01.30</td>,
 <td class="date">2018.01.29</td>]

In [ ]:
for i, txt in enumerate(meta):
    print(i)
    print(txt)
    print()

0
<td class="number_1">323.29</td>

1
<td class="number_1">
<span class="tah p11 nv01">
				-1.14%
				</span>
</td>

2
<td class="number_1" style="padding-right:40px;">101,936</td>

3
<td class="number_1" style="padding-right:30px;">6,168,728</td>

4
<td class="number_1">327.01</td>

5
<td class="number_1">
<span class="tah p11 nv01">
				-1.90%
				</span>
</td>

6
<td class="number_1" style="padding-right:40px;">98,722</td>

7
<td class="number_1" style="padding-right:30px;">6,198,553</td>

8
<td class="number_1">333.36</td>

9
<td class="number_1">
<span class="tah p11 nv01">
				-0.01%
				</span>
</td>

10
<td class="number_1" style="padding-right:40px;">90,364</td>

11
<td class="number_1" style="padding-right:30px;">5,717,652</td>

12
<td class="number_1">333.38</td>

13
<td class="number_1">
<span class="tah p11 nv01">
				-0.01%
				</span>
</td>

14
<td class="number_1" style="padding-right:40px;">112,492</td>

15
<td class="number_1" style="padding-right:30px;">8,795,798</td>

16
<td class="number_1">333.40</td>

17
<td class="number_1">
<span class="tah p11 nv01">
				-1.38%
				</span>
</td>

18
<td class="number_1" style="padding-right:40px;">107,992</td>

19
<td class="number_1" style="padding-right:30px;">5,818,833</td>

20
<td class="number_1">338.05</td>

21
<td class="number_1">
<span class="tah p11 red01">
				+0.80%
				</span>
</td>

22
<td class="number_1" style="padding-right:40px;">120,240</td>

23
<td class="number_1" style="padding-right:30px;">5,852,413</td>

In [ ]:
import pandas as pd
target_n = 240

df_index = pd.DataFrame(np.zeros((target_n+6,4)), columns=['Date', 'Close', 'Volume', 'tvalue'])

for i in range(int(target_n/6)+1):
    URL = "http://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page={:d}".format(i+1)
    html = get_html(URL)
    soup=BeautifulSoup(html, 'html.parser')
    meta_date = soup('td',{'class':'date'})
    meta = soup('td',{'class':'number_1'})
    for j in range(len(meta_date)):
        df_index.iloc[i*len(meta_date)+j, 0] = str(meta_date[j]).split('"date">')[1].split('</td')[0]
        df_index.iloc[i*len(meta_date)+j, 1] = str(meta[4*j]).split('"number_1">')[1].split('</td')[0].replace(',','')
        df_index.iloc[i*len(meta_date)+j, 2] = str(meta[4*j + 2]).split('px;">')[1].split('</td')[0].replace(',','')
        df_index.iloc[i*len(meta_date)+j, 3] = str(meta[4*j + 3]).split('px;">')[1].split('</td')[0].replace(',','')

In [ ]:
df_index.iloc[::-1].set_index('Date').to_csv('data/KOSPI200_index.csv')

In [ ]:
df_index.iloc[::-1].set_index('Date')

             Close  Volume   tvalue
Date
2017.02.03  268.85   69525  3335413
2017.02.06  269.49   70949  2913487
2017.02.07  268.97   70260  3138015
2017.02.08  267.72   63294  3302927
2017.02.09  267.69   71015  3379874
2017.02.10  268.66   81252  3659012
2017.02.13  268.81   70111  2992090
2017.02.14  267.90   67241  3347776
2017.02.15  268.81   74601  3527477
2017.02.16  268.93   64520  3134801
2017.02.17  268.84   56739  3285730
2017.02.20  269.73   53901  2447776
2017.02.21  272.11   60765  2880673
2017.02.22  272.85   63505  2982864
2017.02.23  272.89   63152  3404027
2017.02.24  270.38  114285  3990349
2017.02.27  268.97   79984  3292356
2017.02.28  270.06   86062  3946705
2017.03.02  272.65  103651  4985511
2017.03.03  269.77   76412  3931142
2017.03.06  270.41   71184  3553351
2017.03.07  271.87   68610  3004388
2017.03.08  272.29   66962  3340964
2017.03.09  271.62   69696  3360037
2017.03.10  272.29   65972  3190725
2017.03.13  275.41   71062  3175519
2017.03.14  277.89   80100  3883386
2017.03.15  277.89   70961  3255827
2017.03.16  280.11   84109  3671868
2017.03.17  281.86   84248  3760847
...            ...     ...      ...
2017.12.21  319.72   85390  4418300
2017.12.22  321.21   74366  3541310
2017.12.26  318.89   86496  4660803
2017.12.27  320.25   73666  3979280
2017.12.28  324.74   66762  3323000
2018.01.02  326.00   70198  3652903
2018.01.03  327.13  109181  4644513
2018.01.04  324.58  105683  5612328
2018.01.05  328.97   95570  4813198
2018.01.08  331.28   87753  5038475
2018.01.09  330.25  100083  5713767
2018.01.10  327.61  139401  6828262
2018.01.11  325.67   99671  5820935
2018.01.12  326.72  139560  7101653
2018.01.15  327.39   97625  4551427
2018.01.16  330.02  106649  4849158
2018.01.17  329.19   93940  4798876
2018.01.18  329.13   92963  5003652
2018.01.19  329.52   92631  4606766
2018.01.22  326.27   78433  4485370
2018.01.23  330.93  101685  5061408
2018.01.24  330.91   88696  4872331
2018.01.25  334.08  120435  5537793
2018.01.26  335.38  111304  5808219
2018.01.29  338.05  120240  5852413
2018.01.30  333.40  107992  5818833
2018.01.31  333.38  112492  8795798
2018.02.01  333.36   90364  5717652
2018.02.02  327.01   98722  6198553
2018.02.05  323.29  101936  6168728

[246 rows x 3 columns]

# 좀 더 간단하게 원하는 기업 데이터 받아오기(한개 기업만)
여러 기업에 대해 함께 자료를 받아오고 싶으면 code_list를 고쳐주고 dataframe을 저장하는 방식을 좀 수정해주면 됨. 아래에 완성된 코드가 있음

In [ ]:
PAGE_NUM = 10
df_example = pd.DataFrame(columns=['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])


code_list2 = ['005930']

for code in code_list2:
    for num in range(PAGE_NUM):
        # Get Data From URL
        URL = "http://finance.naver.com/item/sise_day.nhn?code={code}&page={page}".format(code=code, page=num+1)
        html = get_html(URL)
        soup = BeautifulSoup(html, 'html.parser')
        meta_date = soup('span',{'class':'tah p10 gray03'})

        # Create meta which contains all data except date and price change
        meta = soup('td', {'class': 'num'})
        meta = [meta[i] for i in range(len(meta)) if i%6 != 1]



        # Parse Data into list
        len_per_page = len(meta_date)
        _df = pd.DataFrame(np.zeros((len_per_page, 6)), columns=['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])
        _date = np.array([str(x).split('gray03">')[1].split('</span')[0].replace(',','') for x in meta_date])
        _price = np.array([str(x).split('p11">')[1].split('</span')[0].replace(',','.') for x in meta])


        # Make a dataframe which will be merged into the main dataframe
        _df.iloc[:len_per_page,0] = _date
        _df.iloc[:len_per_page,1:] = _price.reshape(len_per_page, 5)

        # Append created dataframe into main dataframe
        df_example = df_example.append(_df)

df_example = df_example.iloc[::-1].set_index('Date')
print(df_example)

                Close       Open       High        Low     Volume
Date
2017.09.06  2.350.000  2.338.000  2.359.000  2.335.000    216.221
2017.09.07  2.406.000  2.350.000  2.411.000  2.350.000    193.530
2017.09.08  2.454.000  2.435.000  2.459.000  2.429.000    217.860
2017.09.11  2.490.000  2.485.000  2.509.000  2.475.000    207.495
2017.09.12  2.480.000  2.510.000  2.511.000  2.457.000    240.595
2017.09.13  2.481.000  2.491.000  2.520.000  2.472.000    187.140
2017.09.14  2.515.000  2.503.000  2.516.000  2.488.000    284.095
2017.09.15  2.520.000  2.515.000  2.528.000  2.493.000    215.146
2017.09.18  2.624.000  2.527.000  2.624.000  2.526.000    230.499
2017.09.19  2.606.000  2.625.000  2.632.000  2.589.000    197.008
2017.09.20  2.611.000  2.606.000  2.625.000  2.592.000    185.855
2017.09.21  2.640.000  2.611.000  2.648.000  2.611.000    176.796
2017.09.22  2.650.000  2.648.000  2.680.000  2.623.000    278.448
2017.09.25  2.681.000  2.650.000  2.684.000  2.650.000    186.062
2017.09.26  2.583.000  2.651.000  2.656.000  2.578.000    341.144
2017.09.27  2.584.000  2.600.000  2.610.000  2.575.000    215.940
2017.09.28  2.563.000  2.613.000  2.623.000  2.563.000    240.509
2017.09.29  2.564.000  2.559.000  2.581.000  2.542.000    258.188
2017.10.10  2.640.000  2.668.000  2.682.000  2.640.000    410.396
2017.10.11  2.732.000  2.680.000  2.738.000  2.667.000    273.043
2017.10.12  2.740.000  2.742.000  2.758.000  2.705.000    277.814
2017.10.13  2.700.000  2.727.000  2.742.000  2.689.000    252.033
2017.10.16  2.696.000  2.699.000  2.743.000  2.688.000    195.399
2017.10.17  2.740.000  2.701.000  2.769.000  2.700.000    212.156
2017.10.18  2.738.000  2.741.000  2.762.000  2.702.000    202.215
2017.10.19  2.649.000  2.735.000  2.735.000  2.649.000    242.174
2017.10.20  2.692.000  2.640.000  2.705.000  2.640.000    160.541
2017.10.23  2.715.000  2.730.000  2.732.000  2.700.000    166.221
2017.10.24  2.702.000  2.735.000  2.739.000  2.702.000    116.121
2017.10.25  2.695.000  2.702.000  2.721.000  2.685.000    117.657
...               ...        ...        ...        ...        ...
2017.12.21  2.457.000  2.550.000  2.553.000  2.455.000    312.486
2017.12.22  2.485.000  2.470.000  2.498.000  2.462.000    223.993
2017.12.26  2.410.000  2.488.000  2.505.000  2.410.000    320.797
2017.12.27  2.468.000  2.448.000  2.478.000  2.423.000    214.872
2017.12.28  2.548.000  2.478.000  2.548.000  2.475.000    179.709
2018.01.02  2.551.000  2.569.000  2.570.000  2.539.000    169.485
2018.01.03  2.581.000  2.627.000  2.628.000  2.571.000    200.270
2018.01.04  2.554.000  2.606.000  2.609.000  2.532.000    233.909
2018.01.05  2.606.000  2.565.000  2.606.000  2.560.000    189.623
2018.01.08  2.601.000  2.620.000  2.626.000  2.575.000    167.673
2018.01.09  2.520.000  2.573.000  2.586.000  2.499.000    360.272
2018.01.10  2.442.000  2.525.000  2.526.000  2.432.000    371.336
2018.01.11  2.412.000  2.410.000  2.463.000  2.401.000    502.476
2018.01.12  2.410.000  2.412.000  2.424.000  2.338.000    545.409
2018.01.15  2.427.000  2.440.000  2.449.000  2.396.000    201.920
2018.01.16  2.500.000  2.438.000  2.507.000  2.431.000    407.793
2018.01.17  2.481.000  2.501.000  2.501.000  2.453.000    221.061
2018.01.18  2.495.000  2.501.000  2.532.000  2.491.000    296.977
2018.01.19  2.466.000  2.519.000  2.519.000  2.452.000    184.399
2018.01.22  2.412.000  2.432.000  2.434.000  2.398.000    250.418
2018.01.23  2.458.000  2.433.000  2.458.000  2.415.000    270.654
2018.01.24  2.467.000  2.443.000  2.485.000  2.428.000    191.010
2018.01.25  2.513.000  2.461.000  2.518.000  2.458.000    223.207
2018.01.26  2.539.000  2.525.000  2.539.000  2.492.000    207.002
2018.01.29  2.561.000  2.560.000  2.574.000  2.545.000    236.776
2018.01.30  2.490.000  2.522.000  2.532.000  2.489.000    245.691
2018.01.31  2.495.000  2.501.000  2.707.000  2.480.000  1.293.626
2018.02.01  2.491.000  2.531.000  2.548.000  2.486.000    552.189
2018.02.02  2.385.000  2.469.000  2.470.000  2.385.000    585.207
2018.02.05  2.396.000  2.325.000  2.416.000  2.300.000    517.457

[100 rows x 5 columns]

# KOSPI200 종목 크롤링

In [ ]:
####### KOSPI200 종목 크롤링
target_n = 240

adj_code_list = []
adj_name_list = []
KOSPI200_close = pd.DataFrame()
KOSPI200_volume = pd.DataFrame()

for i in range(len(code_list)):
    # BOOLEAN VALUE which will be used if there are no data available for that stock.
    # If there are no more data available, END_LOOP = TRUE and loop for this stock will stop.
    END_LOOP = False

    # Dataframe which will contain data for code_list[i]
    data_temp = pd.DataFrame(columns=['Date','Open','High','Low','Close','Volume'])

    # Loop : Get a dataframe for a company which has a code 'code_list[i]'
    try:
        for j in range(int(target_n/10)):
            # Get Data From URL
            URL = "http://finance.naver.com/item/sise_day.nhn?code={code}&page={page}".format(code=code_list[i], page=j+1)
            html = get_html(URL)
            soup = BeautifulSoup(html, 'html.parser')
            meta_date = soup('span',{'class':'tah p10 gray03'})

            # Create meta which contains all data except date and price change
            meta = soup('td', {'class': 'num'})

            # if i % 6 == 1, that data is price change
            meta = [meta[i] for i in range(len(meta)) if i%6 != 1]

            # if len_per_page != 10, This means that there are no more data available for that stock.
            # In that case, escape from this loop and continue to loop for next stock.
            # Also, remove empty datas from meta list.
            len_per_page = len(meta_date)
            if len_per_page != 10:
                END_LOOP = True
                meta = meta[: 5 * len_per_page]

            # Parse Data into array
            _df = pd.DataFrame(np.zeros((len_per_page, 6)), columns=['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])
            _date = np.array([str(x).split('gray03">')[1].split('</span')[0].replace(',','') for x in meta_date])
            _price = np.array([str(x).split('p11">')[1].split('</span')[0].replace(',','') for x in meta])

            # Make a dataframe which will be merged into the main dataframe
            _df.iloc[:len_per_page,0] = _date
            _df.iloc[:len_per_page,1:] = _price.reshape(len_per_page, 5)

            # Append created dataframe into main dataframe(data_temp)
            data_temp = data_temp.append(_df)

            if END_LOOP == True:
                break

        # Export Dataframe for code 'code_list[i]'
        data_temp = data_temp.iloc[::-1].set_index("Date")
        KOSPI200_close[code_list[i]] = data_temp.iloc[:,3]
        KOSPI200_volume['data/',code_list[i]] = data_temp.iloc[:,4]
        data_temp.to_csv('data/',code_list[i] +'.csv')

        # Make a list for code and name which are used in crawling. This is needed because we should know
        # Which code&name are used in crawling not causing any errors.
        adj_code_list.append(code_list[i])
        adj_name_list.append(name_list[i])

        print("Loop for {code} is done! '{cnt}/200".format(code=code_list[i], cnt = i+1))

    except Exception as e:
        print("There is an error in {code}".format(code=code_list[i]))
        print("Error: ", e)
        continue

df_port_info = pd.DataFrame({'Code':adj_code_list, 'Name':adj_name_list})
df_port_info.to_csv('data/codenamelist.csv', encoding='cp949')

KOSPI200_close.to_csv('data/KOSPI200_close.csv')
KOSPI200_volume.to_csv('data/KOSPI200_volume.csv')

Loop for 005930 is done! '1/200
Loop for 000660 is done! '2/200
Loop for 005380 is done! '3/200
Loop for 005490 is done! '4/200
Loop for 035420 is done! '5/200
Loop for 105560 is done! '6/200
Loop for 207940 is done! '7/200
Loop for 051910 is done! '8/200
Loop for 028260 is done! '9/200
Loop for 032830 is done! '10/200
Loop for 055550 is done! '11/200
Loop for 012330 is done! '12/200
Loop for 015760 is done! '13/200
Loop for 034730 is done! '14/200
Loop for 017670 is done! '15/200
Loop for 018260 is done! '16/200
Loop for 096770 is done! '17/200
Loop for 051900 is done! '18/200
Loop for 090430 is done! '19/200
Loop for 066570 is done! '20/200
Loop for 086790 is done! '21/200
Loop for 003550 is done! '22/200
Loop for 033780 is done! '23/200
Loop for 011170 is done! '24/200
Loop for 000270 is done! '25/200
Loop for 000810 is done! '26/200
Loop for 251270 is done! '27/200
Loop for 010950 is done! '28/200
Loop for 006400 is done! '29/200
Loop for 002790 is done! '30/200
Loop for 000030 is done! '31/200
Loop for 034220 is done! '32/200
Loop for 035720 is done! '33/200
Loop for 024110 is done! '34/200
Loop for 010130 is done! '35/200
Loop for 036570 is done! '36/200
Loop for 139480 is done! '37/200
Loop for 030200 is done! '38/200
Loop for 009540 is done! '39/200
Loop for 004020 is done! '40/200
Loop for 009150 is done! '41/200
Loop for 267250 is done! '42/200
Loop for 018880 is done! '43/200
Loop for 023530 is done! '44/200
Loop for 161390 is done! '45/200
Loop for 006800 is done! '46/200
Loop for 021240 is done! '47/200
Loop for 035250 is done! '48/200
Loop for 088350 is done! '49/200
Loop for 078930 is done! '50/200
Loop for 008930 is done! '51/200
Loop for 032640 is done! '52/200
Loop for 128940 is done! '53/200
Loop for 009830 is done! '54/200
Loop for 086280 is done! '55/200
Loop for 005830 is done! '56/200
Loop for 001040 is done! '57/200
Loop for 004990 is done! '58/200
Loop for 000720 is done! '59/200
Loop for 271560 is done! '60/200
Loop for 047810 is done! '61/200
Loop for 004800 is done! '62/200
Loop for 097950 is done! '63/200
Loop for 071050 is done! '64/200
Loop for 036460 is done! '65/200
Loop for 005940 is done! '66/200
Loop for 029780 is done! '67/200
Loop for 002380 is done! '68/200
Loop for 001450 is done! '69/200
Loop for 009240 is done! '70/200
Loop for 012750 is done! '71/200
Loop for 016360 is done! '72/200
Loop for 282330 is done! '73/200
Loop for 010060 is done! '74/200
Loop for 010140 is done! '75/200
Loop for 008770 is done! '76/200
Loop for 138930 is done! '77/200
Loop for 003490 is done! '78/200
Loop for 000880 is done! '79/200
Loop for 004170 is done! '80/200
Loop for 028050 is done! '81/200
Loop for 012630 is done! '82/200
Loop for 000120 is done! '83/200
Loop for 011780 is done! '84/200
Loop for 008560 is done! '85/200
Loop for 028670 is done! '86/200
Loop for 047050 is done! '87/200
Loop for 007070 is done! '88/200
Loop for 011070 is done! '89/200
Loop for 026960 is done! '90/200
Loop for 000210 is done! '91/200
Loop for 000100 is done! '92/200
Loop for 204320 is done! '93/200
Loop for 007310 is done! '94/200
Loop for 047040 is done! '95/200
Loop for 006260 is done! '96/200
Loop for 006280 is done! '97/200
Loop for 030000 is done! '98/200
Loop for 069960 is done! '99/200
Loop for 006360 is done! '100/200
Loop for 042670 is done! '101/200
Loop for 006650 is done! '102/200
Loop for 000150 is done! '103/200
Loop for 010620 is done! '104/200
Loop for 003410 is done! '105/200
Loop for 120110 is done! '106/200
Loop for 069620 is done! '107/200
Loop for 004000 is done! '108/200
Loop for 161890 is done! '109/200
Loop for 000670 is done! '110/200
Loop for 000240 is done! '111/200
Loop for 004370 is done! '112/200
Loop for 005250 is done! '113/200
Loop for 051600 is done! '114/200
Loop for 010120 is done! '115/200
Loop for 114090 is done! '116/200
Loop for 001800 is done! '117/200
Loop for 003520 is done! '118/200
Loop for 034020 is done! '119/200
Loop for 011210 is done! '120/200
Loop for 012450 is done! '121/200
Loop for 009420 is done! '122/200
Loop for 020150 is done! '123/200
Loop for 001740 is done! '124/200
Loop for 000080 is done! '125/200
Loop for 011790 is done! '126/200
Loop for 079160 is done! '127/200
Loop for 005440 is done! '128/200
Loop for 003240 is done! '129/200
Loop for 017800 is done! '130/200
Loop for 115390 is done! '131/200
Loop for 111770 is done! '132/200
Loop for 057050 is done! '133/200
Loop for 064350 is done! '134/200
Loop for 214320 is done! '135/200
Loop for 192820 is done! '136/200
Loop for 185750 is done! '137/200
Loop for 005610 is done! '138/200
Loop for 014820 is done! '139/200
Loop for 005300 is done! '140/200
Loop for 103140 is done! '141/200
Loop for 002350 is done! '142/200
Loop for 079550 is done! '143/200
Loop for 285130 is done! '144/200
Loop for 010780 is done! '145/200
Loop for 001120 is done! '146/200
Loop for 003300 is done! '147/200
Loop for 001230 is done! '148/200
Loop for 003000 is done! '149/200
Loop for 006840 is done! '150/200
Loop for 001430 is done! '151/200
Loop for 073240 is done! '152/200
Loop for 105630 is done! '153/200
Loop for 069260 is done! '154/200
Loop for 000070 is done! '155/200
Loop for 145990 is done! '156/200
Loop for 049770 is done! '157/200
Loop for 093050 is done! '158/200
Loop for 170900 is done! '159/200
Loop for 005850 is done! '160/200
Loop for 093370 is done! '161/200
Loop for 001060 is done! '162/200
Loop for 052690 is done! '163/200
Loop for 001680 is done! '164/200
Loop for 000640 is done! '165/200
Loop for 108670 is done! '166/200
Loop for 003620 is done! '167/200
Loop for 020000 is done! '168/200
Loop for 014680 is done! '169/200
Loop for 007570 is done! '170/200
Loop for 064960 is done! '171/200
Loop for 029530 is done! '172/200
Loop for 019680 is done! '173/200
Loop for 002270 is done! '174/200
Loop for 000990 is done! '175/200
Loop for 025540 is done! '176/200
Loop for 002240 is done! '177/200
Loop for 060980 is done! '178/200
Loop for 005180 is done! '179/200
Loop for 003030 is done! '180/200
Loop for 025860 is done! '181/200
Loop for 079430 is done! '182/200
Loop for 033920 is done! '183/200
Loop for 006120 is done! '184/200
Loop for 096760 is done! '185/200
Loop for 001520 is done! '186/200
Loop for 192400 is done! '187/200
Loop for 003920 is done! '188/200
Loop for 009290 is done! '189/200
Loop for 004490 is done! '190/200
Loop for 002960 is done! '191/200
Loop for 034120 is done! '192/200
Loop for 027410 is done! '193/200
Loop for 036580 is done! '194/200
Loop for 003850 is done! '195/200
Loop for 008060 is done! '196/200
Loop for 078520 is done! '197/200
Loop for 014830 is done! '198/200
Loop for 000050 is done! '199/200
Loop for 097230 is done! '200/200

In [ ]:
tmp = pd.read_csv('data/KOSPI200_close.csv').set_index('Date')

In [ ]:
tmp.shape

(240, 200)

You can see that there are 200 columns, which means that we successfully collect all the stock datas for 200 companies.